<template id="bookmarks-folder">
    <div class="bookmarks-folder">
        <h2>
            <!-- Bookmark folder title -->
        </h2>
        <ol>
            <!-- Bookmark folder items -->
        </ol>
    </div>
</template>
<template id="bookmarks-item">
    <li>
        <button>
            <img draggable="false" loading="lazy" alt="" />
            <p class="bookmark-title">
                <!-- Bookmark Title -->
            </p>
            <p class="bookmark-url">
                <!-- Bookmark URL -->
            </p>
        </button>
    </li>
</template>
