<template id="link-elem">
    <li class="block">
        <a rel="noreferrer noopener" draggable="false">
            <div class="block-imgs">
                <!-- Link Favicon -->
                <img alt="" draggable="false" />
            </div>
            <span>
                <!-- Link Title -->
            </span>
        </a>
    </li>
</template>
<template id="link-folder">
    <li class="block folder" tabindex="0">
        <div class="block-imgs">
            <!-- 4 Favicon Preview -->
            <img alt="" draggable="false" />
            <img alt="" draggable="false" />
            <img alt="" draggable="false" />
            <img alt="" draggable="false" />
        </div>
        <span>
            <!-- Folder Title -->
        </span>
    </li>
</template>
