<template id="opera-explainer-template">
    <dialog id="opera-explainer">
        <div>
            <h1 data-translate>Ok so... this is embarassing 😅</h1>

            <p data-translate>
                Opera does not allow extensions to modify its new tab. While
                there is no official statement, we believe this is because ads
                on their speed dial is a good revenue source for them.
            </p>

            <h2 data-translate>What to do from here ?</h2>

            <ul>
                <li data-translate>Remove Bonjourr and use Opera speed dial</li>
                <li data-translate>
                    Use a similar browser like Brave or Vivaldi
                </li>
                <li>
                    <span data-translate>Follow </span>
                    <a href="https://bonjourr.fr/docs#opera" data-translate
                        >this tutorial on our documentation</a
                    >
                    <span data-translate
                        >. Bonjourr, or any homepage, should somewhat
                        work!</span
                    >
                </li>
            </ul>
        </div>

        <hr />

        <button id="b_opera-explained" data-translate>
            Close and access Bonjourr
        </button>
    </dialog>
</template>
